@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
#app {
  font-family: 'Poppins', sans-serif;
}
#main-container {
  grid-column: 2 / span 10; /* Centers the container, leaving 1 space on the left and right */
  grid-row: 1 / -1; /* Take up all available rows, starting from row 2 */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  text-align: center; /* Centers text inside child elements */
  padding-top: 50px;
}

#form-container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stacks the form elements vertically */
  align-items: center;
  justify-content: center;
}

#MyCardsFlex {
  padding-top: 40px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  max-height: calc(100vh - 150px); /* Prevent the cards container from taking up too much space */
}

.card {
  perspective: 1000px;
  width: calc(25% - 20px); /* Makes each card take up 25% of the row, minus the gap */
  height: 400px;
  margin-bottom: 20px; /* Adds space below each card */
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border: none !important;
}

//FLIP MACHANIC
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.2s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10%;
}

.card-front {
  background-color: rgba(28, 28, 28, 0.954);
  color:rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back {
  background: whitesmoke;
  transform: rotateY(180deg);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-definition {
  font-size: 1rem;
  color: #333;
  text-align: center;
}

.card-title {
  font-size: 2rem; /* Adjusts the size of the word name */
}

.card-subtitle {
  font-size: .8rem; /* Adjusts the size of category */
}

.card-subtitle-smaller {
  font-size: 0.6rem; /* Adjusts the size of the created date */
}
//FLIP MACHANIC ABOVE


#MyCardTitle {
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  font-weight: bold; /* Make it bold */
  color: rgb(255, 255, 255); /* Make the text color white for contrast */
  background-color: rgba(28, 28, 28, 0.954);
  width: 100%;
  min-height: 100px;
}


#dropdown-results {
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  position: absolute;
  top: 100%;
  left: 0;
}

#category-form {
  width: 90%;
  padding-top: 50px; /* Adjust top padding as needed */
  position: sticky; /* Keeps the form fixed at the top when scrolling */
  top: 0; /* Fixes the form to the top of the viewport */
  z-index: 50; /* Ensures it stays above other elements */
  margin: 0 auto; /* Centers the form horizontally */
  text-align: center; /* Centers the text */
}

#category-input.form-control {
  border: 2px solid rgb(0, 0, 0);
}

#CategoryCardDiv {
  position: relative; /* Ensure it's relative to its container */
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}

//STUDY CARDS

.card-study { 
  height: 10%;
  top: 0;
  left: 0;
  width: 100%; /* Ensure cards take up the full container width */
  height: 92%;
  background-color: rgba(28, 28, 28);
  color: white; 
  margin-top: 70px;
  position: absolute; /* Stack the cards on top of each other */
}

.card-definition-study {
  color: transparent;
  font-size: 40px; /* Adjust this value to make the text bigger */
  text-align: center; /* Center the text horizontally */
  line-height: 1.5; /* Optional: Adjust line height for better readability */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%; 
  margin-bottom: 15%;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 10px;
  max-height: 500px;
  transition: opacity 1s ease, color 2s ease; /* duration for the fade in */
}

.card-definition-study:hover {
  opacity: 1;
  color: rgba(0, 0, 0, 0.84); 
}


[id^="flip-"] { //this is used for targeting where idea INCLUDES flip-
  font-size: 24px; /* Increase the size of the arrow */
  height: 150px;
  width: 150px;
  border-radius: 50%; 

  background-color: white; 

  position: absolute; 
  bottom: 30px; 
  right: 50px; 

  transition: transform 0.2s ease;
}

[id^="flip-"]:hover {
  transform: scale(1.1); /* Expand the button by 10% when hovered */
}